.meetings {
  margin-top: 50px;
  &_title {
    h1 {
      font-size: 1.63rem;
      font-weight: 700;
      margin: 30px 0;
    }
  }
  &_content {
    position: relative;
    .item {
      display: flex;
      justify-content: space-between;
      .left {
        width: 49%;
      }
      .right {
        width: 47%;
        padding: 30px 0;
        h1 {
          font-size: 1.2rem;
          font-weight: 600;
        }
        p {
          font-size: 1rem;
          margin: 25px 0;
          line-height: 130%;
          color: #000;
          font-weight: 600;
        }
        a {
          color: #0078c8;
          font-size: 1rem;
          display: flex;
          align-items: center;
          font-weight: 600;
          img {
            margin-left: 0.5rem;
          }
        }
      }
    }
    .swiper-pagination {
      position: absolute;
      bottom: -.5rem;
      right: 35%;
      display: flex;
      z-index: 9999;
      .swiper-pagination-bullet {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #c4c4c4;
        border-radius: 100px;
        margin: 10px;
        cursor: pointer;
      }
      .swiper-pagination-bullet-active {
        background-color: #0078c8;
      }
    }
  }
}
