.history_area {
  &_content {
    display: flex;
    justify-content: space-between;
    .left {
      width: 45%;
      h1 {
        font-size: 1.5rem;
      }
      p {
        margin-top: 1.1rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    .right {
      width: 45%;
      img {
        width: 100%;
      }
      .statistics_area {
        background-color: #fff;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 5px;
        h1 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
        .item {
          width: 90%;
          margin: auto;
          h3 {
            font-size: 1.1rem;
            font-weight: 500;
            margin: 3px;
          }
          .item_inner {
            height: 2.5rem;
            p {
              padding: 0 1rem;
              border-radius: 3px;
              display: flex;
              align-items: center;
              font-size: 1.1rem;
              color: #fff;
              background-color: #0078c8;
              height: 100%;
            }
          }
        }
        .link {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.5rem 3rem;
          border-radius: 5px;
          margin: 2rem 0;
          background-color: #dfebf3;
          img {
            width: 2rem;
            margin-left: 1rem;
          }
          p {
            font-size: 1.5rem;
            color: #0078c8;
          }
        }
      }
    }
  }
}
