.header {
  width: 100%;
  z-index: 111;
  // margin: 30px auto;
  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      h4 {
        font-size: 1.2rem;
        color: black;
        font-weight: 400;
        margin-left: 1rem;
      }
      .gerblogo {
        width: 4rem;
        padding: .7rem 0;
      }
    }
    .right {
      display: flex;
      .item {
        .szh-menu-button {
          cursor: pointer;
          img {
            width: 1.5rem;
          }
        }
        .szh-menu {
          min-width: 7rem;
        }
        display: flex;
        align-items: center;
        padding: 0 1.2rem;
        cursor: pointer;
        p {
          margin-left: 0.5rem;
        }
        h5 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;
          span {
            margin-left: 1rem;
          }
          img {
            width: 1.5rem;
          }
        }
        &.active_voice{
          border:1px solid #0078c8;
          border-radius: 100px;
        }
      }
    }
  }
  .header_links {
    margin-top: 10px;
    background-color: #edebf3;
    .dropdown_items {
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        gap: 1rem;
        .szh-menu-button {
          background-color: transparent;
          border: none;
          padding: 1rem 0px;
          font-size: 1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          img {
            margin-left: 0.5rem;
            transition: 0.3s ease;
            width: 1.5em;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        a {
          color: #000;
        }

        span {
          font-size: 1rem;
          padding: 10px 20px;
        }
        .search {
          display: flex;
          align-items: center;
          padding: 0.8rem 20px;
          background-color: #0078c8;
          border-radius: 100px;
          cursor: pointer;
          margin: 0.6rem 0;
          span {
            padding: 0;
            color: #fff;
          }
          img {
            width: 1.2rem;
            margin-left: 1rem;
          }
        }
        .h-line {
        }
      }
    }
  }
}
.szh-menu__item {
  cursor: default;
}
// dark header for home page
.dark {
  .header {
    position: absolute;
    width: 100%;
    z-index: 111;
    margin: 10px auto;
    .header_top {
      .left {
        h4 {
          color: white;
          width: 16rem;
        }
      }
      .right {
        .item {
          p {
            color: #fff;
          }
        }
      }
    }
    .header_links {
      background-color: transparent;
      .dropdown_items {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 0 1.5rem;
        backdrop-filter: blur(10px);
        .item {
          .szh-menu-button {
            color: #fff;
          }

          span {
            color: #fff;
          }
          .search {
            background-color: transparent;
            margin: 0;
            border-radius: 0;
            padding-right: 0;
          }
        }
        .h-line {
          height: 2vw;
          width: 1px;
          background-color: gray;
        }
      }
    }
  }
}
