.header {
  width: 100%;
  z-index: 111;
  margin: 30px auto;
  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      h4 {
        font-size: 1.2rem;
        color: black;
        font-weight: 400;
        margin-left: 1rem;
      }
    }
    .right {
      display: flex;
      .item {
        display: flex;
        align-items: center;
        margin: 0 1.2rem;
        p {
          margin: 0 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
  .header_links {
    margin-top: 10px;
    background-color: #edebf3;
    .dropdown_items {
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        .szh-menu-button {
          background-color: transparent;
          border: none;
          padding: 1rem 20px;
          font-size: 1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          img {
            margin-left: 0.5rem;
            transition: 0.3s ease;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        a {
          color: #000;
        }

        span {
          font-size: 1rem;
          padding: 10px 20px;
        }
        .search {
          display: flex;
          align-items: center;
          padding: .8rem 20px;
          background-color: #0078c8;
          border-radius: 100px;
          cursor: pointer;
          margin: .6rem 0;
          span {
            padding: 0;
            color: #fff;
          }
          img {
            width: 1.2rem;
            margin-left: 1rem;
          }
        }
        .h-line {
        }
      }
    }
  }
}

// dark header for home page
.dark {
  .header {
    position: absolute;
    width: 100%;
    z-index: 111;
    margin: 30px auto;
    .header_top {
      .left {
        h4 {
          color: white;
        }
      }
      .right {
        .item {
          p {
            color: #fff;
          }
        }
      }
    }
    .header_links {
      background-color: transparent;
      .dropdown_items {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        .item {
          .szh-menu-button {
            color: #fff;
          }

          span {
            color: #fff;
          }
          .search{
            background-color: transparent;
            margin: 0;
            border-radius: 0;
          }
        }
        .h-line {
          height: 2vw;
          width: 1px;
          background-color: gray;
        }
      }
    }
  }
}
