
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;

}

body {
  margin: 0 auto;
  /* max-width: 1920px; */
  height: 100%;
  font-family: "Montserrat", sans-serif;
  caret-color: transparent !important;
}

.container {
  width: 80vw;
  height: 100%;
  max-width: 1410px;
  margin: 0 auto;

